# Import CSV to Azure MySQL - Olympic Data

Ce notebook importe les donn√©es olympiques CSV vers la base de donn√©es MySQL Azure.

## Structure des donn√©es
- **Athletes** : Informations sur les athl√®tes olympiques
- **Hosts** : Pays et villes h√¥tes des Jeux Olympiques  
- **Medals** : M√©dailles remport√©es par les athl√®tes
- **Results** : R√©sultats d√©taill√©s des comp√©titions

## Pr√©requis
- Base de donn√©es MySQL cr√©√©e sur Azure
- Tables cr√©√©es avec le script `sql/olympics.sql`
- Fichiers CSV g√©n√©r√©s dans le dossier `csv/`

In [10]:
# Import Required Libraries
import pandas as pd
import mysql.connector
import sys
import os
from datetime import datetime
import warnings

# Supprime les warnings pandas
warnings.filterwarnings('ignore')

print("‚úÖ Biblioth√®ques import√©es avec succ√®s")
print(f"üìä Version Pandas: {pd.__version__}")
print(f"üóÉÔ∏è Version MySQL Connector: {mysql.connector.__version__}")

‚úÖ Biblioth√®ques import√©es avec succ√®s
üìä Version Pandas: 2.3.3
üóÉÔ∏è Version MySQL Connector: 9.5.0

## Configuration Azure MySQL

‚ö†Ô∏è **Important**: Mettez √† jour les credentials ci-dessous avec vos informations Azure MySQL

In [3]:
# Configuration Azure MySQL Database
# ‚úÖ CREDENTIALS AZURE CONFIGUR√âS

AZURE_CONFIG = {
    'host': 'olympics-m.mysql.database.azure.com',  # Serveur Azure MySQL
    'user': 'azure7@olympics-m',                    # Utilisateur Azure
    'password': 'Gnarok246272',                     # Mot de passe Azure MySQL
    'database': 'olympics',                         # Base de donn√©es Olympics
    'port': 3306,                                   # Port MySQL
    'ssl_disabled': False,                          # SSL activ√©
    'autocommit': True                              # Auto-commit des transactions
}

print("‚öôÔ∏è Configuration Azure MySQL d√©finie")
print(f"üñ•Ô∏è Serveur: {AZURE_CONFIG['host']}")
print(f"üë§ Utilisateur: {AZURE_CONFIG['user']}")
print(f"üóÉÔ∏è Base de donn√©es: {AZURE_CONFIG['database']}")

‚öôÔ∏è Configuration Azure MySQL d√©finie
üñ•Ô∏è Serveur: olympics-m.mysql.database.azure.com
üë§ Utilisateur: azure7@olympics-m
üóÉÔ∏è Base de donn√©es: olympics

## Cr√©ation de la base de donn√©es

Si la base `olympics` n'existe pas encore, ex√©cutez cette cellule pour la cr√©er

In [4]:
def create_database():
    """Cr√©e la base de donn√©es olympics si elle n'existe pas"""
    print("üóÉÔ∏è Cr√©ation de la base de donn√©es olympics...")
    
    # Configuration temporaire sans sp√©cifier la base de donn√©es
    temp_config = AZURE_CONFIG.copy()
    temp_config.pop('database', None)  # Supprime la cl√© database pour se connecter au serveur
    
    try:
        # Connexion au serveur MySQL (sans sp√©cifier de base)
        conn = mysql.connector.connect(**temp_config)
        cursor = conn.cursor()
        
        # Cr√©ation de la base de donn√©es
        cursor.execute("CREATE DATABASE IF NOT EXISTS olympics")
        print("‚úÖ Base de donn√©es 'olympics' cr√©√©e (ou existe d√©j√†)")
        
        # Utilisation de la base
        cursor.execute("USE olympics")
        print("‚úÖ Base de donn√©es 'olympics' s√©lectionn√©e")
        
        cursor.close()
        conn.close()
        return True
        
    except mysql.connector.Error as e:
        print(f"‚ùå Erreur lors de la cr√©ation de la base: {e}")
        return False

def test_connection():
    """Test de connexion avec les vrais credentials"""
    print("üîÑ Test de connexion avec les credentials Azure...")
    
    try:
        conn = mysql.connector.connect(**AZURE_CONFIG)
        print("‚úÖ Connexion r√©ussie √† Azure MySQL!")
        print(f"üìç Serveur: {AZURE_CONFIG['host']}")
        print(f"üë§ Utilisateur: {AZURE_CONFIG['user']}")
        print(f"üóÉÔ∏è Base de donn√©es: {AZURE_CONFIG['database']}")
        
        # Test d'une requ√™te simple
        cursor = conn.cursor()
        cursor.execute("SHOW TABLES")
        tables = cursor.fetchall()
        print(f"üìã Tables existantes: {len(tables)}")
        for table in tables:
            print(f"   - {table[0]}")
            
        cursor.close()
        conn.close()
        return True
        
    except mysql.connector.Error as e:
        print(f"‚ùå Erreur de connexion: {e}")
        return False

# Ex√©cution des tests
print("üöÄ CONFIGURATION ET TEST DE LA BASE DE DONN√âES")
print("=" * 50)

# 1. Cr√©er la base si n√©cessaire
create_database()

print()

# 2. Tester la connexion
test_connection()

üöÄ CONFIGURATION ET TEST DE LA BASE DE DONN√âES
==================================================
üóÉÔ∏è Cr√©ation de la base de donn√©es olympics...
‚ùå Erreur lors de la cr√©ation de la base: 1045 (28000): Access denied for user 'azure7@olympics-m'@'82.64.105.244' (using password: YES)

üîÑ Test de connexion avec les credentials Azure...
‚ùå Erreur de connexion: 1045 (28000): Access denied for user 'azure7@olympics-m'@'82.64.105.244' (using password: YES)

False

### üîß Diagnostic de connexion

Si vous avez une erreur d'acc√®s refus√©, voici quelques solutions :

In [8]:
# Diagnostic et solutions alternatives pour la connexion Azure MySQL

def test_connection_variants():
    """Teste diff√©rentes variantes de connexion"""
    print("üîç DIAGNOSTIC DE CONNEXION AZURE MYSQL")
    print("=" * 45)
    
    # Variante 1: Configuration de base
    config1 = {
        'host': 'olympics-m.mysql.database.azure.com',
        'user': 'azure7@olympics-m',
        'password': 'Gnarok246272',
        'port': 3306,
        'ssl_disabled': False
    }
    
    # Variante 2: Avec SSL requis
    config2 = {
        'host': 'olympics-m.mysql.database.azure.com',
        'user': 'azure7@olympics-m',
        'password': 'Gnarok246272',
        'port': 3306,
        'ssl_ca': None,
        'ssl_cert': None,
        'ssl_key': None,
        'ssl_verify_cert': False,
        'ssl_verify_identity': False
    }
    
    # Variante 3: Format utilisateur diff√©rent
    config3 = {
        'host': 'olympics-m.mysql.database.azure.com',
        'user': 'azure7',  # Sans @servername
        'password': 'Gnarok246272',
        'port': 3306,
        'ssl_disabled': False
    }
    
    configurations = [
        ("Config 1: Standard", config1),
        ("Config 2: SSL flexible", config2),
        ("Config 3: User sans @servername", config3)
    ]
    
    for name, config in configurations:
        print(f"\nüîÑ Test {name}...")
        try:
            conn = mysql.connector.connect(**config)
            print(f"‚úÖ {name} - SUCC√àS!")
            
            # Test d'une requ√™te
            cursor = conn.cursor()
            cursor.execute("SELECT VERSION()")
            version = cursor.fetchone()
            print(f"   üî¢ Version MySQL: {version[0]}")
            
            cursor.close()
            conn.close()
            
            # Si cette config marche, on met √† jour la config globale
            global AZURE_CONFIG
            AZURE_CONFIG.update(config)
            AZURE_CONFIG['database'] = 'olympics'
            print(f"   üìù Configuration globale mise √† jour")
            return True
            
        except mysql.connector.Error as e:
            print(f"   ‚ùå {name} - √âchec: {e}")
            continue
    
    print(f"\n‚ùå Aucune configuration n'a fonctionn√©")
    print(f"\nüí° Solutions possibles:")
    print(f"   1. V√©rifiez que le serveur Azure MySQL est d√©marr√©")
    print(f"   2. V√©rifiez les r√®gles de pare-feu Azure (ajoutez votre IP)")
    print(f"   3. V√©rifiez que l'utilisateur a les bonnes permissions")
    print(f"   4. Testez depuis Azure Data Studio ou MySQL Workbench")
    
    return False

# Ex√©cution du diagnostic
test_connection_variants()

üîç DIAGNOSTIC DE CONNEXION AZURE MYSQL
=============================================

üîÑ Test Config 1: Standard...
   ‚ùå Config 1: Standard - √âchec: 1045 (28000): Access denied for user 'azure7@olympics-m'@'82.64.105.244' (using password: YES)

üîÑ Test Config 2: SSL flexible...
   ‚ùå Config 2: SSL flexible - √âchec: 1045 (28000): Access denied for user 'azure7@olympics-m'@'82.64.105.244' (using password: YES)

üîÑ Test Config 3: User sans @servername...
‚úÖ Config 3: User sans @servername - SUCC√àS!
   üî¢ Version MySQL: 8.0.42-azure
   üìù Configuration globale mise √† jour

True

In [10]:
# Maintenant que la connexion fonctionne, cr√©ons la base de donn√©es
def create_olympics_database():
    """Cr√©e la base de donn√©es olympics avec la bonne configuration"""
    print("üóÉÔ∏è Cr√©ation de la base de donn√©es olympics...")
    
    # Configuration temporaire sans base de donn√©es
    temp_config = AZURE_CONFIG.copy()
    temp_config.pop('database', None)
    
    try:
        conn = mysql.connector.connect(**temp_config)
        cursor = conn.cursor()
        
        # Cr√©ation de la base
        cursor.execute("CREATE DATABASE IF NOT EXISTS olympics")
        print("‚úÖ Base de donn√©es 'olympics' cr√©√©e (ou existe d√©j√†)")
        
        # Verification
        cursor.execute("SHOW DATABASES LIKE 'olympics'")
        result = cursor.fetchone()
        if result:
            print("‚úÖ Base 'olympics' confirm√©e")
        
        cursor.close()
        conn.close()
        return True
        
    except mysql.connector.Error as e:
        print(f"‚ùå Erreur: {e}")
        return False

# Cr√©ation de la base de donn√©es
print("üöÄ CR√âATION DE LA BASE DE DONN√âES")
print("=" * 35)
create_olympics_database()

üöÄ CR√âATION DE LA BASE DE DONN√âES
===================================
üóÉÔ∏è Cr√©ation de la base de donn√©es olympics...
‚úÖ Base de donn√©es 'olympics' cr√©√©e (ou existe d√©j√†)
‚úÖ Base 'olympics' confirm√©e

True

In [14]:
# Cr√©ation des tables de la base olympics - Version finale
def create_olympics_tables():
    """Cr√©e toutes les tables n√©cessaires pour les donn√©es olympiques"""
    print("üìã Cr√©ation des tables Olympics...")
    
    try:
        conn = mysql.connector.connect(**AZURE_CONFIG)
        cursor = conn.cursor()
        
        # Cr√©ation table par table (rank -> ranking pour √©viter mot-cl√© r√©serv√©)
        tables_sql = [
            # Suppression des tables existantes
            "DROP TABLE IF EXISTS results",
            "DROP TABLE IF EXISTS medals", 
            "DROP TABLE IF EXISTS athletes",
            "DROP TABLE IF EXISTS hosts",
            
            # Table des h√¥tes
            """CREATE TABLE hosts (
              id INT AUTO_INCREMENT PRIMARY KEY,
              year INT NOT NULL,
              city VARCHAR(255) NOT NULL,
              country VARCHAR(255) NOT NULL,
              season VARCHAR(20),
              INDEX idx_year (year),
              INDEX idx_city (city),
              INDEX idx_country (country)
            )""",
            
            # Table des athl√®tes
            """CREATE TABLE athletes (
              id INT AUTO_INCREMENT PRIMARY KEY,
              name VARCHAR(255),
              sex VARCHAR(1),
              age INT,
              nationality VARCHAR(50),
              INDEX idx_name (name),
              INDEX idx_nationality (nationality)
            )""",
            
            # Table des m√©dailles
            """CREATE TABLE medals (
              id INT AUTO_INCREMENT PRIMARY KEY,
              athlete_id INT,
              year INT,
              city VARCHAR(255),
              sport VARCHAR(255),
              event VARCHAR(255),
              medal VARCHAR(10),
              FOREIGN KEY (athlete_id) REFERENCES athletes(id) ON DELETE CASCADE,
              INDEX idx_athlete_id (athlete_id),
              INDEX idx_year (year),
              INDEX idx_sport (sport),
              INDEX idx_medal (medal)
            )""",
            
            # Table des r√©sultats (rank -> ranking)
            """CREATE TABLE results (
              id INT AUTO_INCREMENT PRIMARY KEY,
              athlete_id INT,
              year INT,
              event VARCHAR(255),
              ranking INT,
              score FLOAT,
              FOREIGN KEY (athlete_id) REFERENCES athletes(id) ON DELETE CASCADE,
              INDEX idx_athlete_id (athlete_id),
              INDEX idx_year (year),
              INDEX idx_event (event),
              INDEX idx_ranking (ranking)
            )"""
        ]
        
        # Ex√©cution des requ√™tes
        for i, sql in enumerate(tables_sql):
            print(f"   üîÑ Ex√©cution requ√™te {i+1}/{len(tables_sql)}...")
            cursor.execute(sql)
        
        conn.commit()
        
        # V√©rification des tables cr√©√©es
        cursor.execute("SHOW TABLES")
        tables = cursor.fetchall()
        print(f"\n‚úÖ {len(tables)} tables cr√©√©es avec succ√®s:")
        for table in tables:
            print(f"   üìã {table[0]}")
            
        # V√©rification de la structure d'une table
        cursor.execute("DESCRIBE athletes")
        columns = cursor.fetchall()
        print(f"\nüîç Structure de la table 'athletes':")
        for col in columns:
            print(f"   - {col[0]} ({col[1]})")
        
        cursor.close()
        conn.close()
        return True
        
    except mysql.connector.Error as e:
        print(f"‚ùå Erreur lors de la cr√©ation des tables: {e}")
        return False

# Cr√©ation des tables
print("üèóÔ∏è CR√âATION DES TABLES - VERSION FINALE")
print("=" * 40)
create_olympics_tables()

üèóÔ∏è CR√âATION DES TABLES - VERSION FINALE
========================================
üìã Cr√©ation des tables Olympics...
   üîÑ Ex√©cution requ√™te 1/8...
   üîÑ Ex√©cution requ√™te 2/8...
   üîÑ Ex√©cution requ√™te 3/8...
   üîÑ Ex√©cution requ√™te 4/8...
   üîÑ Ex√©cution requ√™te 5/8...
   üîÑ Ex√©cution requ√™te 6/8...
   üîÑ Ex√©cution requ√™te 7/8...
   üîÑ Ex√©cution requ√™te 8/8...

‚úÖ 4 tables cr√©√©es avec succ√®s:
   üìã athletes
   üìã hosts
   üìã medals
   üìã results

üîç Structure de la table 'athletes':
   - id (int)
   - name (varchar(255))
   - sex (varchar(1))
   - age (int)
   - nationality (varchar(50))

True

In [3]:
# Fonction de connexion √† la base de donn√©es
def create_connection():
    """Cr√©e une connexion √† la base MySQL Azure"""
    try:
        conn = mysql.connector.connect(**AZURE_CONFIG)
        print("‚úÖ Connexion r√©ussie √† Azure MySQL")
        return conn
    except mysql.connector.Error as e:
        print(f"‚ùå Erreur de connexion: {e}")
        return None

def close_connection(conn, cursor=None):
    """Ferme la connexion et le curseur"""
    if cursor:
        cursor.close()
    if conn:
        conn.close()
    print("üîí Connexion ferm√©e")

# Test de connexion
print("üîÑ Test de connexion...")
test_conn = create_connection()
if test_conn:
    close_connection(test_conn)
    print("‚úÖ Test de connexion r√©ussi")
else:
    print("‚ùå Test de connexion √©chou√© - V√©rifiez vos credentials")

üîÑ Test de connexion...
‚ùå Erreur de connexion: 2003: Can't connect to MySQL server on 'your-server.mysql.database.azure.com:3306' (Errno 11001: getaddrinfo failed)
‚ùå Test de connexion √©chou√© - V√©rifiez vos credentials

## 1. Import des H√¥tes Olympiques (Hosts)

Import du fichier `csv/olympic_hosts.csv` vers la table `hosts`

In [1]:
def import_hosts():
    """Import des donn√©es des h√¥tes olympiques"""
    print("üèüÔ∏è Import des h√¥tes olympiques...")
    
    # Lecture du fichier CSV
    df = pd.read_csv('../csv/olympic_hosts.csv')
    print(f"üìä {len(df)} lignes √† importer")
    
    # Connexion √† la base
    conn = create_connection()
    if not conn:
        return False
    
    cursor = conn.cursor()
    success_count = 0
    
    try:
        for _, row in df.iterrows():
            # Extraction des donn√©es depuis le CSV
            year = int(row['game_year'])
            city = row['game_name'].split()[-1]  # Extrait la ville (ex: "Beijing 2022" -> "2022")
            country = row['game_location']
            season = row['game_season']
            
            # Insertion dans la base
            cursor.execute(
                "INSERT INTO hosts (year, city, country, season) VALUES (%s, %s, %s, %s)",
                (year, city, country, season)
            )
            success_count += 1
        
        conn.commit()
        print(f"‚úÖ {success_count} h√¥tes import√©s avec succ√®s")
        
    except Exception as e:
        print(f"‚ùå Erreur lors de l'import: {e}")
        conn.rollback()
        return False
    finally:
        close_connection(conn, cursor)
    
    return True

# Ex√©cution de l'import
import_hosts()

üèüÔ∏è Import des h√¥tes olympiques...

NameError: name 'pd' is not defined

## 2. Import des Athl√®tes (Athletes)

Import du fichier `csv/olympic_athletes.csv` vers la table `athletes`

In [20]:
def import_athletes():
    """Import des donn√©es des athl√®tes olympiques"""
    print("üèÉ‚Äç‚ôÄÔ∏è Import des athl√®tes olympiques...")
    
    # Lecture du fichier CSV
    df = pd.read_csv('../csv/olympic_athletes.csv')
    print(f"üìä {len(df)} lignes √† importer")
    
    # Connexion √† la base
    conn = create_connection()
    if not conn:
        return False
    
    cursor = conn.cursor()
    success_count = 0
    batch_size = 1000  # Traitement par batch pour optimiser
    
    try:
        for i in range(0, len(df), batch_size):
            batch = df.iloc[i:i+batch_size]
            
            for _, row in batch.iterrows():
                # Extraction des donn√©es depuis le CSV
                name = row['athlete_full_name']
                sex = None  # Pas disponible dans les donn√©es
                
                # Calcul de l'√¢ge si ann√©e de naissance disponible
                age = None
                if pd.notna(row['athlete_year_birth']) and row['athlete_year_birth'] != '':
                    try:
                        birth_year = float(row['athlete_year_birth'])
                        age = int(2024 - birth_year)
                    except:
                        age = None
                
                nationality = None  # Pas directement disponible dans ce CSV
                
                # Insertion dans la base (avec IGNORE pour √©viter les doublons)
                cursor.execute(
                    "INSERT IGNORE INTO athletes (name, sex, age, nationality) VALUES (%s, %s, %s, %s)",
                    (name, sex, age, nationality)
                )
                success_count += 1
            
            # Commit par batch
            conn.commit()
            print(f"   üìà {min(i + batch_size, len(df))} / {len(df)} trait√©s...")
        
        print(f"‚úÖ {success_count} athl√®tes trait√©s (doublons ignor√©s)")
        
    except Exception as e:
        print(f"‚ùå Erreur lors de l'import: {e}")
        conn.rollback()
        return False
    finally:
        close_connection(conn, cursor)
    
    return True

# Ex√©cution de l'import
import_athletes()

üèÉ‚Äç‚ôÄÔ∏è Import des athl√®tes olympiques...
üìä 75904 lignes √† importer
‚úÖ Connexion r√©ussie √† Azure MySQL
‚úÖ Connexion r√©ussie √† Azure MySQL
   üìà 1000 / 75904 trait√©s...
   üìà 1000 / 75904 trait√©s...
   üìà 2000 / 75904 trait√©s...
   üìà 2000 / 75904 trait√©s...
   üìà 3000 / 75904 trait√©s...
   üìà 3000 / 75904 trait√©s...
   üìà 4000 / 75904 trait√©s...
   üìà 4000 / 75904 trait√©s...
   üìà 5000 / 75904 trait√©s...
   üìà 5000 / 75904 trait√©s...
   üìà 6000 / 75904 trait√©s...
   üìà 6000 / 75904 trait√©s...
   üìà 7000 / 75904 trait√©s...
   üìà 7000 / 75904 trait√©s...
   üìà 8000 / 75904 trait√©s...
   üìà 8000 / 75904 trait√©s...
   üìà 9000 / 75904 trait√©s...
   üìà 9000 / 75904 trait√©s...
   üìà 10000 / 75904 trait√©s...
   üìà 10000 / 75904 trait√©s...
   üìà 11000 / 75904 trait√©s...
   üìà 11000 / 75904 trait√©s...
   üìà 12000 / 75904 trait√©s...
   üìà 12000 / 75904 trait√©s...
   üìà 13000 / 75904 trait√©s...
   üìà 13000 / 75904 trait√©s...
   üìà 14000 / 75904 trait√©s...
   üìà 14000 / 75904 trait√©s...
   üìà 15000 / 75904 trait√©s...
   üìà 15000 / 75904 trait√©s...
   üìà 16000 / 75904 trait√©s...
   üìà 16000 / 75904 trait√©s...
   üìà 17000 / 75904 trait√©s...
   üìà 17000 / 75904 trait√©s...
   üìà 18000 / 75904 trait√©s...
   üìà 18000 / 75904 trait√©s...
   üìà 19000 / 75904 trait√©s...
   üìà 19000 / 75904 trait√©s...
   üìà 20000 / 75904 trait√©s...
   üìà 20000 / 75904 trait√©s...
   üìà 21000 / 75904 trait√©s...
   üìà 21000 / 75904 trait√©s...
   üìà 22000 / 75904 trait√©s...
   üìà 22000 / 75904 trait√©s...
   üìà 23000 / 75904 trait√©s...
   üìà 23000 / 75904 trait√©s...
   üìà 24000 / 75904 trait√©s...
   üìà 24000 / 75904 trait√©s...
   üìà 25000 / 75904 trait√©s...
   üìà 25000 / 75904 trait√©s...
   üìà 26000 / 75904 trait√©s...
   üìà 26000 / 75904 trait√©s...
   üìà 27000 / 75904 trait√©s...
   üìà 27000 / 75904 trait√©s...
   üìà 28000 / 75904 trait√©s...
   üìà 28000 / 75904 trait√©s...
   üìà 29000 / 75904 trait√©s...
   üìà 29000 / 75904 trait√©s...
   üìà 30000 / 75904 trait√©s...
   üìà 30000 / 75904 trait√©s...
   üìà 31000 / 75904 trait√©s...
   üìà 31000 / 75904 trait√©s...
   üìà 32000 / 75904 trait√©s...
   üìà 32000 / 75904 trait√©s...
   üìà 33000 / 75904 trait√©s...
   üìà 33000 / 75904 trait√©s...
   üìà 34000 / 75904 trait√©s...
   üìà 34000 / 75904 trait√©s...
   üìà 35000 / 75904 trait√©s...
   üìà 35000 / 75904 trait√©s...
   üìà 36000 / 75904 trait√©s...
   üìà 36000 / 75904 trait√©s...
   üìà 37000 / 75904 trait√©s...
   üìà 37000 / 75904 trait√©s...
   üìà 38000 / 75904 trait√©s...
   üìà 38000 / 75904 trait√©s...
   üìà 39000 / 75904 trait√©s...
   üìà 39000 / 75904 trait√©s...
   üìà 40000 / 75904 trait√©s...
   üìà 40000 / 75904 trait√©s...
   üìà 41000 / 75904 trait√©s...
   üìà 41000 / 75904 trait√©s...
   üìà 42000 / 75904 trait√©s...
   üìà 42000 / 75904 trait√©s...
   üìà 43000 / 75904 trait√©s...
   üìà 43000 / 75904 trait√©s...
   üìà 44000 / 75904 trait√©s...
   üìà 44000 / 75904 trait√©s...
   üìà 45000 / 75904 trait√©s...
   üìà 45000 / 75904 trait√©s...
   üìà 46000 / 75904 trait√©s...
   üìà 46000 / 75904 trait√©s...
   üìà 47000 / 75904 trait√©s...
   üìà 47000 / 75904 trait√©s...
   üìà 48000 / 75904 trait√©s...
   üìà 48000 / 75904 trait√©s...
   üìà 49000 / 75904 trait√©s...
   üìà 49000 / 75904 trait√©s...
   üìà 50000 / 75904 trait√©s...
   üìà 50000 / 75904 trait√©s...
   üìà 51000 / 75904 trait√©s...
   üìà 51000 / 75904 trait√©s...
   üìà 52000 / 75904 trait√©s...
   üìà 52000 / 75904 trait√©s...
   üìà 53000 / 75904 trait√©s...
   üìà 53000 / 75904 trait√©s...
   üìà 54000 / 75904 trait√©s...
   üìà 54000 / 75904 trait√©s...
   üìà 55000 / 75904 trait√©s...
   üìà 55000 / 75904 trait√©s...
   üìà 56000 / 75904 trait√©s...
   üìà 56000 / 75904 trait√©s...
   üìà 57000 / 75904 trait√©s...
   üìà 57000 / 75904 trait√©s...
   üìà 58000 / 75904 trait√©s...
   üìà 58000 / 75904 trait√©s...
   üìà 59000 / 75904 trait√©s...
   üìà 59000 / 75904 trait√©s...
   üìà 60000 / 75904 trait√©s...
   üìà 60000 / 75904 trait√©s...
   üìà 61000 / 75904 trait√©s...
   üìà 61000 / 75904 trait√©s...
   üìà 62000 / 75904 trait√©s...
   üìà 62000 / 75904 trait√©s...
   üìà 63000 / 75904 trait√©s...
   üìà 63000 / 75904 trait√©s...
   üìà 64000 / 75904 trait√©s...
   üìà 64000 / 75904 trait√©s...
   üìà 65000 / 75904 trait√©s...
   üìà 65000 / 75904 trait√©s...
   üìà 66000 / 75904 trait√©s...
   üìà 66000 / 75904 trait√©s...
   üìà 67000 / 75904 trait√©s...
   üìà 67000 / 75904 trait√©s...
   üìà 68000 / 75904 trait√©s...
   üìà 68000 / 75904 trait√©s...
   üìà 69000 / 75904 trait√©s...
   üìà 69000 / 75904 trait√©s...
   üìà 70000 / 75904 trait√©s...
   üìà 70000 / 75904 trait√©s...
   üìà 71000 / 75904 trait√©s...
   üìà 71000 / 75904 trait√©s...
   üìà 72000 / 75904 trait√©s...
   üìà 72000 / 75904 trait√©s...
   üìà 73000 / 75904 trait√©s...
   üìà 73000 / 75904 trait√©s...
   üìà 74000 / 75904 trait√©s...
   üìà 74000 / 75904 trait√©s...
   üìà 75000 / 75904 trait√©s...
   üìà 75000 / 75904 trait√©s...
   üìà 75904 / 75904 trait√©s...
‚úÖ 75904 athl√®tes trait√©s (doublons ignor√©s)
üîí Connexion ferm√©e
   üìà 75904 / 75904 trait√©s...
‚úÖ 75904 athl√®tes trait√©s (doublons ignor√©s)
üîí Connexion ferm√©e

True

## 3. Import des M√©dailles (Medals)

Import du fichier `csv/olympic_medals.csv` vers la table `medals`

In [21]:
def import_medals():
    """Import des donn√©es des m√©dailles olympiques"""
    print("ü•á Import des m√©dailles olympiques...")
    
    # Lecture du fichier CSV
    df = pd.read_csv('../csv/olympic_medals.csv')
    print(f"üìä {len(df)} lignes √† importer")
    
    # Connexion √† la base
    conn = create_connection()
    if not conn:
        return False
    
    cursor = conn.cursor()
    success_count = 0
    error_count = 0
    batch_size = 500
    
    try:
        for i in range(0, len(df), batch_size):
            batch = df.iloc[i:i+batch_size]
            
            for _, row in batch.iterrows():
                try:
                    # Extraction des donn√©es
                    athlete_name = row['athlete_full_name']
                    
                    # Extraction de l'ann√©e depuis slug_game (ex: "beijing-2022" -> 2022)
                    import re
                    slug_game = row['slug_game']
                    year_match = re.search(r'(\d{4})', slug_game)
                    year = int(year_match.group(1)) if year_match else None
                    
                    city = row['participant_title']
                    sport = row['discipline_title']
                    event = row['event_title']
                    medal = row['medal_type']
                    
                    # R√©cup√©ration de l'athlete_id
                    cursor.execute("SELECT id FROM athletes WHERE name = %s LIMIT 1", (athlete_name,))
                    result = cursor.fetchone()
                    athlete_id = result[0] if result else None
                    
                    if athlete_id and year:
                        # Insertion de la m√©daille
                        cursor.execute(
                            "INSERT IGNORE INTO medals (athlete_id, year, city, sport, event, medal) VALUES (%s, %s, %s, %s, %s, %s)",
                            (athlete_id, year, city, sport, event, medal)
                        )
                        success_count += 1
                    else:
                        error_count += 1
                        
                except Exception as e:
                    error_count += 1
                    continue
            
            # Commit par batch
            conn.commit()
            print(f"   üìà {min(i + batch_size, len(df))} / {len(df)} trait√©s...")
        
        print(f"‚úÖ {success_count} m√©dailles import√©es")
        if error_count > 0:
            print(f"‚ö†Ô∏è {error_count} lignes ignor√©es (athl√®te non trouv√© ou donn√©es manquantes)")
        
    except Exception as e:
        print(f"‚ùå Erreur lors de l'import: {e}")
        conn.rollback()
        return False
    finally:
        close_connection(conn, cursor)
    
    return True

# Ex√©cution de l'import
import_medals()

ü•á Import des m√©dailles olympiques...
üìä 21697 lignes √† importer
‚úÖ Connexion r√©ussie √† Azure MySQL
‚úÖ Connexion r√©ussie √† Azure MySQL
   üìà 500 / 21697 trait√©s...
   üìà 500 / 21697 trait√©s...
   üìà 1000 / 21697 trait√©s...
   üìà 1000 / 21697 trait√©s...
   üìà 1500 / 21697 trait√©s...
   üìà 1500 / 21697 trait√©s...
   üìà 2000 / 21697 trait√©s...
   üìà 2000 / 21697 trait√©s...
   üìà 2500 / 21697 trait√©s...
   üìà 2500 / 21697 trait√©s...
   üìà 3000 / 21697 trait√©s...
   üìà 3000 / 21697 trait√©s...
   üìà 3500 / 21697 trait√©s...
   üìà 3500 / 21697 trait√©s...
   üìà 4000 / 21697 trait√©s...
   üìà 4000 / 21697 trait√©s...
   üìà 4500 / 21697 trait√©s...
   üìà 4500 / 21697 trait√©s...
   üìà 5000 / 21697 trait√©s...
   üìà 5000 / 21697 trait√©s...
   üìà 5500 / 21697 trait√©s...
   üìà 5500 / 21697 trait√©s...
   üìà 6000 / 21697 trait√©s...
   üìà 6000 / 21697 trait√©s...
   üìà 6500 / 21697 trait√©s...
   üìà 6500 / 21697 trait√©s...
   üìà 7000 / 21697 trait√©s...
   üìà 7000 / 21697 trait√©s...
   üìà 7500 / 21697 trait√©s...
   üìà 7500 / 21697 trait√©s...
   üìà 8000 / 21697 trait√©s...
   üìà 8000 / 21697 trait√©s...
   üìà 8500 / 21697 trait√©s...
   üìà 8500 / 21697 trait√©s...
   üìà 9000 / 21697 trait√©s...
   üìà 9000 / 21697 trait√©s...
   üìà 9500 / 21697 trait√©s...
   üìà 9500 / 21697 trait√©s...
   üìà 10000 / 21697 trait√©s...
   üìà 10000 / 21697 trait√©s...
   üìà 10500 / 21697 trait√©s...
   üìà 10500 / 21697 trait√©s...
   üìà 11000 / 21697 trait√©s...
   üìà 11000 / 21697 trait√©s...
   üìà 11500 / 21697 trait√©s...
   üìà 11500 / 21697 trait√©s...
   üìà 12000 / 21697 trait√©s...
   üìà 12000 / 21697 trait√©s...
   üìà 12500 / 21697 trait√©s...
   üìà 12500 / 21697 trait√©s...
   üìà 13000 / 21697 trait√©s...
   üìà 13000 / 21697 trait√©s...
   üìà 13500 / 21697 trait√©s...
   üìà 13500 / 21697 trait√©s...
   üìà 14000 / 21697 trait√©s...
   üìà 14000 / 21697 trait√©s...
   üìà 14500 / 21697 trait√©s...
   üìà 14500 / 21697 trait√©s...
   üìà 15000 / 21697 trait√©s...
   üìà 15000 / 21697 trait√©s...
   üìà 15500 / 21697 trait√©s...
   üìà 15500 / 21697 trait√©s...
   üìà 16000 / 21697 trait√©s...
   üìà 16000 / 21697 trait√©s...
   üìà 16500 / 21697 trait√©s...
   üìà 16500 / 21697 trait√©s...
   üìà 17000 / 21697 trait√©s...
   üìà 17000 / 21697 trait√©s...
   üìà 17500 / 21697 trait√©s...
   üìà 17500 / 21697 trait√©s...
   üìà 18000 / 21697 trait√©s...
   üìà 18000 / 21697 trait√©s...
   üìà 18500 / 21697 trait√©s...
   üìà 18500 / 21697 trait√©s...
   üìà 19000 / 21697 trait√©s...
   üìà 19000 / 21697 trait√©s...
   üìà 19500 / 21697 trait√©s...
   üìà 19500 / 21697 trait√©s...
   üìà 20000 / 21697 trait√©s...
   üìà 20000 / 21697 trait√©s...
   üìà 20500 / 21697 trait√©s...
   üìà 20500 / 21697 trait√©s...
   üìà 21000 / 21697 trait√©s...
   üìà 21000 / 21697 trait√©s...
   üìà 21500 / 21697 trait√©s...
   üìà 21500 / 21697 trait√©s...
   üìà 21697 / 21697 trait√©s...
‚úÖ 17011 m√©dailles import√©es
‚ö†Ô∏è 4686 lignes ignor√©es (athl√®te non trouv√© ou donn√©es manquantes)
üîí Connexion ferm√©e
   üìà 21697 / 21697 trait√©s...
‚úÖ 17011 m√©dailles import√©es
‚ö†Ô∏è 4686 lignes ignor√©es (athl√®te non trouv√© ou donn√©es manquantes)
üîí Connexion ferm√©e

True

## 4. Import des R√©sultats (Results)

Import du fichier `csv/olympic_results.csv` vers la table `results`

In [ ]:
def import_results():
    """Import des donn√©es des r√©sultats olympiques"""
    print("üèÜ Import des r√©sultats olympiques...")
    
    # Lecture du fichier CSV
    df = pd.read_csv('../csv/olympic_results.csv')
    print(f"üìä {len(df)} lignes √† importer")
    
    # Connexion √† la base
    conn = create_connection()
    if not conn:
        return False
    
    cursor = conn.cursor()
    success_count = 0
    error_count = 0
    batch_size = 500
    
    try:
        for i in range(0, len(df), batch_size):
            batch = df.iloc[i:i+batch_size]
            
            for _, row in batch.iterrows():
                try:
                    # Extraction des donn√©es
                    athlete_name = row['athlete_full_name']
                    
                    # Extraction de l'ann√©e depuis slug_game
                    import re
                    slug_game = row['slug_game']
                    year_match = re.search(r'(\d{4})', slug_game)
                    year = int(year_match.group(1)) if year_match else None
                    
                    event = row['event_title']
                    rank = row['rank_position']
                    score = None  # Pas de score num√©rique dans les donn√©es
                    
                    # V√©rification que les donn√©es essentielles sont pr√©sentes
                    if pd.isna(athlete_name) or pd.isna(rank) or rank == '':
                        error_count += 1
                        continue
                    
                    # R√©cup√©ration de l'athlete_id
                    cursor.execute("SELECT id FROM athletes WHERE name = %s LIMIT 1", (athlete_name,))
                    result = cursor.fetchone()
                    athlete_id = result[0] if result else None
                    
                    if athlete_id and year:
                        # Insertion du r√©sultat
                        cursor.execute(
                            "INSERT IGNORE INTO results (athlete_id, year, event, rank, score) VALUES (%s, %s, %s, %s, %s)",
                            (athlete_id, year, event, int(rank), score)
                        )
                        success_count += 1
                    else:
                        error_count += 1
                        
                except Exception as e:
                    error_count += 1
                    continue
            
            # Commit par batch
            conn.commit()
            print(f"   üìà {min(i + batch_size, len(df))} / {len(df)} trait√©s...")
        
        print(f"‚úÖ {success_count} r√©sultats import√©s")
        if error_count > 0:
            print(f"‚ö†Ô∏è {error_count} lignes ignor√©es (athl√®te non trouv√© ou donn√©es manquantes)")
        
    except Exception as e:
        print(f"‚ùå Erreur lors de l'import: {e}")
        conn.rollback()
        return False
    finally:
        close_connection(conn, cursor)
    
    return True

# Ex√©cution de l'import
import_results()

## 5. Import Complet et Validation

Fonctions utilitaires pour importer toutes les donn√©es et valider l'import

In [18]:
def import_all_data():
    """Importe toutes les donn√©es CSV dans l'ordre correct"""
    print("üöÄ IMPORT COMPLET DES DONN√âES OLYMPIQUES")
    print("=" * 50)
    print(f"üìÖ D√©but: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
    
    # Ordre d'import respectant les d√©pendances
    imports = [
        ("H√¥tes", import_hosts),
        ("Athl√®tes", import_athletes), 
        ("M√©dailles", import_medals),
        ("R√©sultats", import_results)
    ]
    
    success_count = 0
    
    for name, import_func in imports:
        print(f"\nüîÑ Import {name}...")
        try:
            if import_func():
                success_count += 1
                print(f"‚úÖ {name} import√©s avec succ√®s")
            else:
                print(f"‚ùå √âchec de l'import {name}")
        except Exception as e:
            print(f"‚ùå Erreur lors de l'import {name}: {e}")
    
    print("\n" + "=" * 50)
    print(f"üéØ R√©sum√©: {success_count}/{len(imports)} imports r√©ussis")
    print(f"üìÖ Fin: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
    
    return success_count == len(imports)

# Lancement de l'import complet
import_all_data()

üöÄ IMPORT COMPLET DES DONN√âES OLYMPIQUES
==================================================
üìÖ D√©but: 2025-11-04 02:16:56

NameError: name 'import_hosts' is not defined

In [ ]:
def verify_data_import():
    """V√©rifie que les donn√©es ont √©t√© correctement import√©es"""
    print("üîç V√âRIFICATION DE L'IMPORT")
    print("=" * 40)
    
    conn = create_connection()
    if not conn:
        return False
    
    cursor = conn.cursor()
    
    try:
        # Statistiques g√©n√©rales
        tables = ['hosts', 'athletes', 'medals', 'results']
        
        for table in tables:
            cursor.execute(f"SELECT COUNT(*) FROM {table}")
            count = cursor.fetchone()[0]
            print(f"üìä Table {table}: {count:,} lignes")
        
        print("\n" + "=" * 40)
        
        # Tests sp√©cifiques
        print("üî¨ Tests de coh√©rence:")
        
        # Test 1: M√©dailles avec athl√®tes
        cursor.execute("""
            SELECT COUNT(*) FROM medals m 
            LEFT JOIN athletes a ON m.athlete_id = a.id 
            WHERE a.id IS NULL
        """)
        orphan_medals = cursor.fetchone()[0]
        print(f"   ü•á M√©dailles sans athl√®te: {orphan_medals}")
        
        # Test 2: R√©sultats avec athl√®tes
        cursor.execute("""
            SELECT COUNT(*) FROM results r 
            LEFT JOIN athletes a ON r.athlete_id = a.id 
            WHERE a.id IS NULL
        """)
        orphan_results = cursor.fetchone()[0]
        print(f"   üèÜ R√©sultats sans athl√®te: {orphan_results}")
        
        # Test 3: Distribution des m√©dailles
        cursor.execute("""
            SELECT medal, COUNT(*) as count 
            FROM medals 
            WHERE medal IN ('GOLD', 'SILVER', 'BRONZE')
            GROUP BY medal 
            ORDER BY count DESC
        """)
        medal_dist = cursor.fetchall()
        print(f"\n   ü•á Distribution des m√©dailles:")
        for medal, count in medal_dist:
            print(f"      {medal}: {count:,}")
        
        # Test 4: Top 5 pays par m√©dailles
        cursor.execute("""
            SELECT h.country, COUNT(m.id) as total_medals
            FROM hosts h
            JOIN medals m ON h.year = m.year
            WHERE m.medal IN ('GOLD', 'SILVER', 'BRONZE')
            GROUP BY h.country
            ORDER BY total_medals DESC
            LIMIT 5
        """)
        top_countries = cursor.fetchall()
        print(f"\n   üåç Top 5 pays par m√©dailles:")
        for country, medals in top_countries:
            print(f"      {country}: {medals:,} m√©dailles")
        
        print(f"\n‚úÖ V√©rification termin√©e")
        
        # Indicateur de succ√®s
        if orphan_medals == 0 and orphan_results == 0:
            print("üéâ Import r√©ussi - Int√©grit√© des donn√©es OK")
            return True
        else:
            print("‚ö†Ô∏è Probl√®mes d'int√©grit√© d√©tect√©s")
            return False
        
    except Exception as e:
        print(f"‚ùå Erreur lors de la v√©rification: {e}")
        return False
    finally:
        close_connection(conn, cursor)

# Ex√©cution de la v√©rification
verify_data_import()

## 6. Exemples de Requ√™tes

Quelques exemples de requ√™tes pour explorer les donn√©es import√©es

In [ ]:
def run_sample_queries():
    """Ex√©cute quelques requ√™tes d'exemple pour tester les donn√©es"""
    print("üìä EXEMPLES DE REQU√äTES")
    print("=" * 30)
    
    conn = create_connection()
    if not conn:
        return
    
    cursor = conn.cursor()
    
    try:
        # Requ√™te 1: Athl√®tes les plus jeunes
        print("1Ô∏è‚É£ Top 5 des athl√®tes les plus jeunes:")
        cursor.execute("""
            SELECT name, age, nationality 
            FROM athletes 
            WHERE age IS NOT NULL 
            ORDER BY age ASC 
            LIMIT 5
        """)
        results = cursor.fetchall()
        for i, (name, age, nationality) in enumerate(results, 1):
            print(f"   {i}. {name} - {age} ans ({nationality or 'N/A'})")
        
        # Requ√™te 2: Sports avec le plus de m√©dailles
        print(f"\n2Ô∏è‚É£ Top 5 sports par nombre de m√©dailles:")
        cursor.execute("""
            SELECT sport, COUNT(*) as total_medals
            FROM medals 
            WHERE medal IN ('GOLD', 'SILVER', 'BRONZE')
            GROUP BY sport 
            ORDER BY total_medals DESC 
            LIMIT 5
        """)
        results = cursor.fetchall()
        for i, (sport, medals) in enumerate(results, 1):
            print(f"   {i}. {sport}: {medals:,} m√©dailles")
        
        # Requ√™te 3: M√©dailles d'or par ann√©e
        print(f"\n3Ô∏è‚É£ M√©dailles d'or par ann√©e (5 derni√®res ann√©es):")
        cursor.execute("""
            SELECT year, COUNT(*) as gold_medals
            FROM medals 
            WHERE medal = 'GOLD'
            GROUP BY year 
            ORDER BY year DESC 
            LIMIT 5
        """)
        results = cursor.fetchall()
        for year, gold_count in results:
            print(f"   {year}: {gold_count:,} m√©dailles d'or")
        
        # Requ√™te 4: Villes h√¥tes r√©centes
        print(f"\n4Ô∏è‚É£ Villes h√¥tes r√©centes:")
        cursor.execute("""
            SELECT year, city, country, season
            FROM hosts 
            ORDER BY year DESC 
            LIMIT 5
        """)
        results = cursor.fetchall()
        for year, city, country, season in results:
            print(f"   {year} - {city}, {country} ({season})")
        
    except Exception as e:
        print(f"‚ùå Erreur lors des requ√™tes: {e}")
    finally:
        close_connection(conn, cursor)

# Ex√©cution des requ√™tes d'exemple
run_sample_queries()

## üìã Instructions d'utilisation

### √âtapes √† suivre pour l'import complet :

1. **Modifier la configuration Azure** (cellule 3) :
   - Remplacez `your-server.mysql.database.azure.com` par votre serveur Azure MySQL
   - Mettez √† jour `your_username@your_server` avec vos credentials
   - D√©finissez votre mot de passe dans `your_password`

2. **Tester la connexion** (cellule 4) :
   - Ex√©cutez la cellule pour v√©rifier la connexion

3. **Ex√©cuter les imports individuels** (cellules 6, 8, 10, 12) :
   - Ou utiliser `import_all_data()` pour tout importer d'un coup

4. **V√©rifier les donn√©es** (cellule 14) :
   - Contr√¥le de l'int√©grit√© et statistiques

5. **Tester avec des requ√™tes** (cellule 16) :
   - Exemples de requ√™tes pour explorer les donn√©es

### ‚ö†Ô∏è Points importants :
- Assurez-vous que la base de donn√©es `olympics` et les tables existent (utilisez `sql/olympics.sql`)
- Les fichiers CSV doivent √™tre dans le dossier `../csv/`
- L'import respecte l'ordre des d√©pendances (h√¥tes ‚Üí athl√®tes ‚Üí m√©dailles ‚Üí r√©sultats)
- Les doublons sont automatiquement ignor√©s avec `INSERT IGNORE`

## 7. V√©rification Rapide de l'Import

Requ√™tes SQL simples pour v√©rifier le nombre de lignes dans chaque table

In [8]:
# V√©rification rapide du nombre de lignes dans chaque table
def quick_table_check():
    """V√©rifie rapidement le nombre de lignes dans chaque table"""
    print("üìä V√âRIFICATION RAPIDE DES TABLES")
    print("=" * 40)
    
    conn = create_connection()
    if not conn:
        print("‚ùå Impossible de se connecter √† la base de donn√©es")
        return
    
    tables = ['hosts', 'athletes', 'medals', 'results']
    
    try:
        for table in tables:
            # M√©thode 1: Utilisation de pandas read_sql
            df_count = pd.read_sql(f'SELECT COUNT(*) as count FROM {table}', conn)
            count = df_count['count'].iloc[0]
            print(f"üìã Table {table}: {count:,} lignes")
            
        print("\n‚úÖ V√©rification termin√©e")
        
    except Exception as e:
        print(f"‚ùå Erreur lors de la v√©rification: {e}")
    finally:
        conn.close()

# Ex√©cution de la v√©rification
quick_table_check()

üìä V√âRIFICATION RAPIDE DES TABLES
========================================
‚úÖ Connexion r√©ussie √† Azure MySQL
üìã Table hosts: 53 lignes
üìã Table athletes: 75,904 lignes
üìã Table medals: 17,011 lignes
üìã Table results: 113,632 lignes

‚úÖ V√©rification termin√©e
‚úÖ Connexion r√©ussie √† Azure MySQL
üìã Table hosts: 53 lignes
üìã Table athletes: 75,904 lignes
üìã Table medals: 17,011 lignes
üìã Table results: 113,632 lignes

‚úÖ V√©rification termin√©e

In [6]:
# Fonctions essentielles pour l'import
def create_connection():
    """Cr√©e une connexion √† la base MySQL Azure"""
    try:
        # Configuration corrig√©e (sans @servername)
        config = {
            'host': 'olympics-m.mysql.database.azure.com',
            'user': 'azure7',  # Sans @servername
            'password': 'Gnarok246272',
            'database': 'olympics',
            'port': 3306,
            'ssl_disabled': False,
            'autocommit': True
        }
        conn = mysql.connector.connect(**config)
        print("‚úÖ Connexion r√©ussie √† Azure MySQL")
        return conn
    except mysql.connector.Error as e:
        print(f"‚ùå Erreur de connexion: {e}")
        return None

def close_connection(conn, cursor=None):
    """Ferme la connexion et le curseur"""
    if cursor:
        cursor.close()
    if conn:
        conn.close()
    print("üîí Connexion ferm√©e")

print("üîß Fonctions de connexion charg√©es")

üîß Fonctions de connexion charg√©es

In [7]:
# Import des r√©sultats olympiques (le plus gros fichier)
def import_results():
    """Import des donn√©es des r√©sultats olympiques"""
    print("üèÜ Import des r√©sultats olympiques...")
    
    # Lecture du fichier CSV
    df = pd.read_csv('../csv/olympic_results.csv')
    print(f"üìä {len(df)} lignes √† importer")
    
    # Connexion √† la base
    conn = create_connection()
    if not conn:
        return False
    
    cursor = conn.cursor()
    success_count = 0
    error_count = 0
    batch_size = 500
    
    try:
        for i in range(0, len(df), batch_size):
            batch = df.iloc[i:i+batch_size]
            
            for _, row in batch.iterrows():
                try:
                    # Extraction des donn√©es
                    athlete_name = row['athlete_full_name']
                    
                    # Extraction de l'ann√©e depuis slug_game
                    import re
                    slug_game = row['slug_game']
                    year_match = re.search(r'(\d{4})', slug_game)
                    year = int(year_match.group(1)) if year_match else None
                    
                    event = row['event_title']
                    rank = row['rank_position']
                    score = None  # Pas de score num√©rique dans les donn√©es
                    
                    # V√©rification que les donn√©es essentielles sont pr√©sentes
                    if pd.isna(athlete_name) or pd.isna(rank) or rank == '':
                        error_count += 1
                        continue
                    
                    # R√©cup√©ration de l'athlete_id
                    cursor.execute("SELECT id FROM athletes WHERE name = %s LIMIT 1", (athlete_name,))
                    result = cursor.fetchone()
                    athlete_id = result[0] if result else None
                    
                    if athlete_id and year:
                        # Insertion du r√©sultat (rank -> ranking pour √©viter mot-cl√© r√©serv√©)
                        cursor.execute(
                            "INSERT IGNORE INTO results (athlete_id, year, event, ranking, score) VALUES (%s, %s, %s, %s, %s)",
                            (athlete_id, year, event, int(rank), score)
                        )
                        success_count += 1
                    else:
                        error_count += 1
                        
                except Exception as e:
                    error_count += 1
                    continue
            
            # Commit par batch
            conn.commit()
            print(f"   üìà {min(i + batch_size, len(df))} / {len(df)} trait√©s...")
        
        print(f"‚úÖ {success_count} r√©sultats import√©s")
        if error_count > 0:
            print(f"‚ö†Ô∏è {error_count} lignes ignor√©es (athl√®te non trouv√© ou donn√©es manquantes)")
        
    except Exception as e:
        print(f"‚ùå Erreur lors de l'import: {e}")
        conn.rollback()
        return False
    finally:
        close_connection(conn, cursor)
    
    return True

# üöÄ LANCEMENT DE L'IMPORT DES R√âSULTATS
print("üèÜ IMPORT DES R√âSULTATS OLYMPIQUES - LE PLUS GROS FICHIER")
print("=" * 65)
import_results()

üèÜ IMPORT DES R√âSULTATS OLYMPIQUES - LE PLUS GROS FICHIER
=================================================================
üèÜ Import des r√©sultats olympiques...
üìä 162804 lignes √† importer
‚úÖ Connexion r√©ussie √† Azure MySQL
   üìà 500 / 162804 trait√©s...
   üìà 1000 / 162804 trait√©s...
   üìà 1500 / 162804 trait√©s...
   üìà 2000 / 162804 trait√©s...
   üìà 2500 / 162804 trait√©s...
   üìà 3000 / 162804 trait√©s...
   üìà 3500 / 162804 trait√©s...
   üìà 4000 / 162804 trait√©s...
   üìà 4500 / 162804 trait√©s...
   üìà 5000 / 162804 trait√©s...
   üìà 5500 / 162804 trait√©s...
   üìà 6000 / 162804 trait√©s...
   üìà 6500 / 162804 trait√©s...
   üìà 7000 / 162804 trait√©s...
   üìà 7500 / 162804 trait√©s...
   üìà 8000 / 162804 trait√©s...
   üìà 8500 / 162804 trait√©s...
   üìà 9000 / 162804 trait√©s...
   üìà 9500 / 162804 trait√©s...
   üìà 10000 / 162804 trait√©s...
   üìà 10500 / 162804 trait√©s...
   üìà 11000 / 162804 trait√©s...
   üìà 11500 / 162804 trait√©s...
   üìà 12000 / 162804 trait√©s...
   üìà 12500 / 162804 trait√©s...
   üìà 13000 / 162804 trait√©s...
   üìà 13500 / 162804 trait√©s...
   üìà 14000 / 162804 trait√©s...
   üìà 14500 / 162804 trait√©s...
   üìà 15000 / 162804 trait√©s...
   üìà 15500 / 162804 trait√©s...
   üìà 16000 / 162804 trait√©s...
   üìà 16500 / 162804 trait√©s...
   üìà 17000 / 162804 trait√©s...
   üìà 17500 / 162804 trait√©s...
   üìà 18000 / 162804 trait√©s...
   üìà 18500 / 162804 trait√©s...
   üìà 19000 / 162804 trait√©s...
   üìà 19500 / 162804 trait√©s...
   üìà 20000 / 162804 trait√©s...
   üìà 20500 / 162804 trait√©s...
   üìà 21000 / 162804 trait√©s...
   üìà 21500 / 162804 trait√©s...
   üìà 22000 / 162804 trait√©s...
   üìà 22500 / 162804 trait√©s...
   üìà 23000 / 162804 trait√©s...
   üìà 23500 / 162804 trait√©s...
   üìà 24000 / 162804 trait√©s...
   üìà 24500 / 162804 trait√©s...
   üìà 25000 / 162804 trait√©s...
   üìà 25500 / 162804 trait√©s...
   üìà 26000 / 162804 trait√©s...
   üìà 26500 / 162804 trait√©s...
   üìà 27000 / 162804 trait√©s...
   üìà 27500 / 162804 trait√©s...
   üìà 28000 / 162804 trait√©s...
   üìà 28500 / 162804 trait√©s...
   üìà 29000 / 162804 trait√©s...
   üìà 29500 / 162804 trait√©s...
   üìà 30000 / 162804 trait√©s...
   üìà 30500 / 162804 trait√©s...
   üìà 31000 / 162804 trait√©s...
   üìà 31500 / 162804 trait√©s...
   üìà 32000 / 162804 trait√©s...
   üìà 32500 / 162804 trait√©s...
   üìà 33000 / 162804 trait√©s...
   üìà 33500 / 162804 trait√©s...
   üìà 34000 / 162804 trait√©s...
   üìà 34500 / 162804 trait√©s...
   üìà 35000 / 162804 trait√©s...
   üìà 35500 / 162804 trait√©s...
   üìà 36000 / 162804 trait√©s...
   üìà 36500 / 162804 trait√©s...
   üìà 37000 / 162804 trait√©s...
   üìà 37500 / 162804 trait√©s...
   üìà 38000 / 162804 trait√©s...
   üìà 38500 / 162804 trait√©s...
   üìà 39000 / 162804 trait√©s...
   üìà 39500 / 162804 trait√©s...
   üìà 40000 / 162804 trait√©s...
   üìà 40500 / 162804 trait√©s...
   üìà 41000 / 162804 trait√©s...
   üìà 41500 / 162804 trait√©s...
   üìà 42000 / 162804 trait√©s...
   üìà 42500 / 162804 trait√©s...
   üìà 43000 / 162804 trait√©s...
   üìà 43500 / 162804 trait√©s...
   üìà 44000 / 162804 trait√©s...
   üìà 44500 / 162804 trait√©s...
   üìà 45000 / 162804 trait√©s...
   üìà 45500 / 162804 trait√©s...
   üìà 46000 / 162804 trait√©s...
   üìà 46500 / 162804 trait√©s...
   üìà 47000 / 162804 trait√©s...
   üìà 47500 / 162804 trait√©s...
   üìà 48000 / 162804 trait√©s...
   üìà 48500 / 162804 trait√©s...
   üìà 49000 / 162804 trait√©s...
   üìà 49500 / 162804 trait√©s...
   üìà 50000 / 162804 trait√©s...
   üìà 50500 / 162804 trait√©s...
   üìà 51000 / 162804 trait√©s...
   üìà 51500 / 162804 trait√©s...
   üìà 52000 / 162804 trait√©s...
   üìà 52500 / 162804 trait√©s...
   üìà 53000 / 162804 trait√©s...
   üìà 53500 / 162804 trait√©s...
   üìà 54000 / 162804 trait√©s...
   üìà 54500 / 162804 trait√©s...
   üìà 55000 / 162804 trait√©s...
   üìà 55500 / 162804 trait√©s...
   üìà 56000 / 162804 trait√©s...
   üìà 56500 / 162804 trait√©s...
   üìà 57000 / 162804 trait√©s...
   üìà 57500 / 162804 trait√©s...
   üìà 58000 / 162804 trait√©s...
   üìà 58500 / 162804 trait√©s...
   üìà 59000 / 162804 trait√©s...
   üìà 59500 / 162804 trait√©s...
   üìà 60000 / 162804 trait√©s...
   üìà 60500 / 162804 trait√©s...
   üìà 61000 / 162804 trait√©s...
   üìà 61500 / 162804 trait√©s...
   üìà 62000 / 162804 trait√©s...
   üìà 62500 / 162804 trait√©s...
   üìà 63000 / 162804 trait√©s...
   üìà 63500 / 162804 trait√©s...
   üìà 64000 / 162804 trait√©s...
   üìà 64500 / 162804 trait√©s...
   üìà 65000 / 162804 trait√©s...
   üìà 65500 / 162804 trait√©s...
   üìà 66000 / 162804 trait√©s...
   üìà 66500 / 162804 trait√©s...
   üìà 67000 / 162804 trait√©s...
   üìà 67500 / 162804 trait√©s...
   üìà 68000 / 162804 trait√©s...
   üìà 68500 / 162804 trait√©s...
   üìà 69000 / 162804 trait√©s...
   üìà 69500 / 162804 trait√©s...
   üìà 70000 / 162804 trait√©s...
   üìà 70500 / 162804 trait√©s...
   üìà 71000 / 162804 trait√©s...
   üìà 71500 / 162804 trait√©s...
   üìà 72000 / 162804 trait√©s...
   üìà 72500 / 162804 trait√©s...
   üìà 73000 / 162804 trait√©s...
   üìà 73500 / 162804 trait√©s...
   üìà 74000 / 162804 trait√©s...
   üìà 74500 / 162804 trait√©s...
   üìà 75000 / 162804 trait√©s...
   üìà 75500 / 162804 trait√©s...
   üìà 76000 / 162804 trait√©s...
   üìà 76500 / 162804 trait√©s...
   üìà 77000 / 162804 trait√©s...
   üìà 77500 / 162804 trait√©s...
   üìà 78000 / 162804 trait√©s...
   üìà 78500 / 162804 trait√©s...
   üìà 79000 / 162804 trait√©s...
   üìà 79500 / 162804 trait√©s...
   üìà 80000 / 162804 trait√©s...
   üìà 80500 / 162804 trait√©s...
   üìà 81000 / 162804 trait√©s...
   üìà 81500 / 162804 trait√©s...
   üìà 82000 / 162804 trait√©s...
   üìà 82500 / 162804 trait√©s...
   üìà 83000 / 162804 trait√©s...
   üìà 83500 / 162804 trait√©s...
   üìà 84000 / 162804 trait√©s...
   üìà 84500 / 162804 trait√©s...
   üìà 85000 / 162804 trait√©s...
   üìà 85500 / 162804 trait√©s...
   üìà 86000 / 162804 trait√©s...
   üìà 86500 / 162804 trait√©s...
   üìà 87000 / 162804 trait√©s...
   üìà 87500 / 162804 trait√©s...
   üìà 88000 / 162804 trait√©s...
   üìà 88500 / 162804 trait√©s...
   üìà 89000 / 162804 trait√©s...
   üìà 89500 / 162804 trait√©s...
   üìà 90000 / 162804 trait√©s...
   üìà 90500 / 162804 trait√©s...
   üìà 91000 / 162804 trait√©s...
   üìà 91500 / 162804 trait√©s...
   üìà 92000 / 162804 trait√©s...
   üìà 92500 / 162804 trait√©s...
   üìà 93000 / 162804 trait√©s...
   üìà 93500 / 162804 trait√©s...
   üìà 94000 / 162804 trait√©s...
   üìà 94500 / 162804 trait√©s...
   üìà 95000 / 162804 trait√©s...
   üìà 95500 / 162804 trait√©s...
   üìà 96000 / 162804 trait√©s...
   üìà 96500 / 162804 trait√©s...
   üìà 97000 / 162804 trait√©s...
   üìà 97500 / 162804 trait√©s...
   üìà 98000 / 162804 trait√©s...
   üìà 98500 / 162804 trait√©s...
   üìà 99000 / 162804 trait√©s...
   üìà 99500 / 162804 trait√©s...
   üìà 100000 / 162804 trait√©s...
   üìà 100500 / 162804 trait√©s...
   üìà 101000 / 162804 trait√©s...
   üìà 101500 / 162804 trait√©s...
   üìà 102000 / 162804 trait√©s...
   üìà 102500 / 162804 trait√©s...
   üìà 103000 / 162804 trait√©s...
   üìà 103500 / 162804 trait√©s...
   üìà 104000 / 162804 trait√©s...
   üìà 104500 / 162804 trait√©s...
   üìà 105000 / 162804 trait√©s...
   üìà 105500 / 162804 trait√©s...
   üìà 106000 / 162804 trait√©s...
   üìà 106500 / 162804 trait√©s...
   üìà 107000 / 162804 trait√©s...
   üìà 107500 / 162804 trait√©s...
   üìà 108000 / 162804 trait√©s...
   üìà 108500 / 162804 trait√©s...
   üìà 109000 / 162804 trait√©s...
   üìà 109500 / 162804 trait√©s...
   üìà 110000 / 162804 trait√©s...
   üìà 110500 / 162804 trait√©s...
   üìà 111000 / 162804 trait√©s...
   üìà 111500 / 162804 trait√©s...
   üìà 112000 / 162804 trait√©s...
   üìà 112500 / 162804 trait√©s...
   üìà 113000 / 162804 trait√©s...
   üìà 113500 / 162804 trait√©s...
   üìà 114000 / 162804 trait√©s...
   üìà 114500 / 162804 trait√©s...
   üìà 115000 / 162804 trait√©s...
   üìà 115500 / 162804 trait√©s...
   üìà 116000 / 162804 trait√©s...
   üìà 116500 / 162804 trait√©s...
   üìà 117000 / 162804 trait√©s...
   üìà 117500 / 162804 trait√©s...
   üìà 118000 / 162804 trait√©s...
   üìà 118500 / 162804 trait√©s...
   üìà 119000 / 162804 trait√©s...
   üìà 119500 / 162804 trait√©s...
   üìà 120000 / 162804 trait√©s...
   üìà 120500 / 162804 trait√©s...
   üìà 121000 / 162804 trait√©s...
   üìà 121500 / 162804 trait√©s...
   üìà 122000 / 162804 trait√©s...
   üìà 122500 / 162804 trait√©s...
   üìà 123000 / 162804 trait√©s...
   üìà 123500 / 162804 trait√©s...
   üìà 124000 / 162804 trait√©s...
   üìà 124500 / 162804 trait√©s...
   üìà 125000 / 162804 trait√©s...
   üìà 125500 / 162804 trait√©s...
   üìà 126000 / 162804 trait√©s...
   üìà 126500 / 162804 trait√©s...
   üìà 127000 / 162804 trait√©s...
   üìà 127500 / 162804 trait√©s...
   üìà 128000 / 162804 trait√©s...
   üìà 128500 / 162804 trait√©s...
   üìà 129000 / 162804 trait√©s...
   üìà 129500 / 162804 trait√©s...
   üìà 130000 / 162804 trait√©s...
   üìà 130500 / 162804 trait√©s...
   üìà 131000 / 162804 trait√©s...
   üìà 131500 / 162804 trait√©s...
   üìà 132000 / 162804 trait√©s...
   üìà 132500 / 162804 trait√©s...
   üìà 133000 / 162804 trait√©s...
   üìà 133500 / 162804 trait√©s...
   üìà 134000 / 162804 trait√©s...
   üìà 134500 / 162804 trait√©s...
   üìà 135000 / 162804 trait√©s...
   üìà 135500 / 162804 trait√©s...
   üìà 136000 / 162804 trait√©s...
   üìà 136500 / 162804 trait√©s...
   üìà 137000 / 162804 trait√©s...
   üìà 137500 / 162804 trait√©s...
   üìà 138000 / 162804 trait√©s...
   üìà 138500 / 162804 trait√©s...
   üìà 139000 / 162804 trait√©s...
   üìà 139500 / 162804 trait√©s...
   üìà 140000 / 162804 trait√©s...
   üìà 140500 / 162804 trait√©s...
   üìà 141000 / 162804 trait√©s...
   üìà 141500 / 162804 trait√©s...
   üìà 142000 / 162804 trait√©s...
   üìà 142500 / 162804 trait√©s...
   üìà 143000 / 162804 trait√©s...
   üìà 143500 / 162804 trait√©s...
   üìà 144000 / 162804 trait√©s...
   üìà 144500 / 162804 trait√©s...
   üìà 145000 / 162804 trait√©s...
   üìà 145500 / 162804 trait√©s...
   üìà 146000 / 162804 trait√©s...
   üìà 146500 / 162804 trait√©s...
   üìà 147000 / 162804 trait√©s...
   üìà 147500 / 162804 trait√©s...
   üìà 148000 / 162804 trait√©s...
   üìà 148500 / 162804 trait√©s...
   üìà 149000 / 162804 trait√©s...
   üìà 149500 / 162804 trait√©s...
   üìà 150000 / 162804 trait√©s...
   üìà 150500 / 162804 trait√©s...
   üìà 151000 / 162804 trait√©s...
   üìà 151500 / 162804 trait√©s...
   üìà 152000 / 162804 trait√©s...
   üìà 152500 / 162804 trait√©s...
   üìà 153000 / 162804 trait√©s...
   üìà 153500 / 162804 trait√©s...
   üìà 154000 / 162804 trait√©s...
   üìà 154500 / 162804 trait√©s...
   üìà 155000 / 162804 trait√©s...
   üìà 155500 / 162804 trait√©s...
   üìà 156000 / 162804 trait√©s...
   üìà 156500 / 162804 trait√©s...
   üìà 157000 / 162804 trait√©s...
   üìà 157500 / 162804 trait√©s...
   üìà 158000 / 162804 trait√©s...
   üìà 158500 / 162804 trait√©s...
   üìà 159000 / 162804 trait√©s...
   üìà 159500 / 162804 trait√©s...
   üìà 160000 / 162804 trait√©s...
   üìà 160500 / 162804 trait√©s...
   üìà 161000 / 162804 trait√©s...
   üìà 161500 / 162804 trait√©s...
   üìà 162000 / 162804 trait√©s...
   üìà 162500 / 162804 trait√©s...
   üìà 162804 / 162804 trait√©s...
‚úÖ 113632 r√©sultats import√©s
‚ö†Ô∏è 49172 lignes ignor√©es (athl√®te non trouv√© ou donn√©es manquantes)
üîí Connexion ferm√©e

True

In [9]:
# Exemple sp√©cifique selon votre directive
# V√©rification table par table avec pandas read_sql

print("üîç V√âRIFICATION D√âTAILL√âE AVEC PANDAS")
print("=" * 45)

conn = create_connection()
if conn:
    try:
        # Table athletes
        df_athletes = pd.read_sql('SELECT COUNT(*) as total FROM athletes', conn)
        print("üìä Table athletes:")
        print(df_athletes)
        print()
        
        # Table hosts
        df_hosts = pd.read_sql('SELECT COUNT(*) as total FROM hosts', conn)
        print("üìä Table hosts:")
        print(df_hosts)
        print()
        
        # Table medals
        df_medals = pd.read_sql('SELECT COUNT(*) as total FROM medals', conn)
        print("üìä Table medals:")
        print(df_medals)
        print()
        
        # Table results
        df_results = pd.read_sql('SELECT COUNT(*) as total FROM results', conn)
        print("üìä Table results:")
        print(df_results)
        print()
        
        # R√©sum√© global
        total_rows = (df_athletes['total'].iloc[0] + 
                     df_hosts['total'].iloc[0] + 
                     df_medals['total'].iloc[0] + 
                     df_results['total'].iloc[0])
        
        print(f"üìà TOTAL G√âN√âRAL: {total_rows:,} lignes dans toutes les tables")
        
    except Exception as e:
        print(f"‚ùå Erreur: {e}")
    finally:
        conn.close()
else:
    print("‚ùå Pas de connexion disponible")

üîç V√âRIFICATION D√âTAILL√âE AVEC PANDAS
=============================================
‚úÖ Connexion r√©ussie √† Azure MySQL
üìä Table athletes:
   total
0  75904

üìä Table hosts:
   total
0     53

üìä Table medals:
   total
0  17011

üìä Table results:
    total
0  113632

üìà TOTAL G√âN√âRAL: 206,600 lignes dans toutes les tables

### üìù Exemple de r√©sultat attendu

Une fois que vous aurez configur√© vos credentials Azure et import√© les donn√©es, les cellules ci-dessus afficheront quelque chose comme :

```
üìä Table athletes:
    total
0   75904

üìä Table hosts:
    total  
0      53

üìä Table medals:
    total
0   21697

üìä Table results:
    total
0  162804

üìà TOTAL G√âN√âRAL: 260,458 lignes dans toutes les tables
```

**‚úÖ Ces nombres correspondent aux donn√©es CSV d'origine :**
- 75,904 athl√®tes uniques
- 53 √©v√©nements olympiques (villes h√¥tes)  
- 21,697 m√©dailles d√©cern√©es
- 162,804 r√©sultats de comp√©titions